<header>
  <a href="/">
    <img class="logo" src="assets/logo_cybercafe.png" alt="Lighthouse Cybercafe">
  </a>
  <div class="links">
    <a href="/menu">Menu</a>
    <a href="/register">Register</a>
    <a href="/login">Log in</a>
  </div>
</header>