<%- include('partials/_header') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lighthouse Cybercafe</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
  </head>

  <body>
    <img src="assets/logo.jpg" alt="Lighthouse Cybercafe">
    <p>Welcome to the Lighthouse Cybercafe!<br>Check out our <a href="/menu">menu</a> for available food.</p>
  </body>
</html>
