#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 60%;
}

.item {
  margin: 20px 0 0 20px;
  width: 300px;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  -moz-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
}

.image {
  position: relative;
  height: 200px;
  overflow: hidden;

  img {
    width: 100%;
    position: absolute;
    z-index: -9999;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }

  .hover {
    transition: margin-top 0.5s;
    margin-top: -50px;
  }
}

.item:hover > .image > .hover,
.item:active > .image > .hover {
  margin-top: -20px;
}

.hover {
  display: flex;
  justify-content: space-between;

  button {
    &:hover, &:active {
      background-color: rgba(255, 255, 255, 0.5);
    }
    background-color: unset;
    border: unset;
    cursor: pointer;
    height: 30px;
    margin-top: 20px;
    display: inline;
  }

  h2:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.info {
  padding: 20px;
}

.description {
  font-style: italic;
}
